.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 20px;
  flex-wrap: wrap; /* Allow wrapping on small screens */
}

@media (max-width: 600px) {
  .game-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}